@charset "UTF-8";
/* CSS Document */

* {
  box-sizing: border-box; 
}

html {
  font-size: 10px; 
  height: 100%; 
}

body {
  height: 100%; 
}

.container {
  width: 80%; 
  margin: 0 auto; 
}

/* ANSWER  NUMBER  4  IS  RIGHT  HERE!
The max-width means the image will not go larger than the size of the parent*/
img {
  max-width: 100%; 
}

/* number 1) The layout of "https://getbootstrap.com/docs/4.4/examples/pricing/" is the F pattern. You look along the top then the main content */

/* EXPLAIN THIS STYLE RULE (1 mark) */ 

.pricingTable button {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
}

/* number 2) targeting the button in the element with class of pricingTable
It adds .5rem to the top ad bottom and 1rem to the left and right adds a line hight of 1.5 no unit needed and then a border radius of .3 rem to the button  */

.pricingTable section:first-of-type button {
  border: 1px solid #007bff;  
}

/* FIX THIS STYLE RULE  (2 marks) */ 

/* number 3) missing a comma after the word button on the first line and missing a colon after background-color */

.pricingTable section:nth-of-type(2) button,
.pricingTable section:nth-of-type(3) button {
  background-color: #007bff; 
  color: #fff; 
  border: transparent; 
}

/* number 5) and number 6) are the the coding */

/* number 7 is number 4? */


/* ----- default styles ----- */

@font-face {
  font-family: regular;
  src: url(assets/OpenSans-Regular-webfont.woff); /* modern */
  src: url(assets/OpenSans-Regular-webfont.ttf); /* apple */
  src: url(assets/OpenSans-Regular-webfont.svg); /*old ios */
  src: url(assets/OpenSans-Regular-webfont.eot); /* old IE browser */
}

body {
  font-size: 1.6em;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* ----- header styles ----- */

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dee2e6;
  box-shadow: 0 .125rem .25rem #00000013;
  margin-bottom: 20px;
}
/* ----- nav styles ----- */

nav ul {
  display: flex;
}

nav ul li {
  padding: 10px 16px;
  color: #121416;
}

nav ul li:not(:last-child):hover {
  text-decoration: underline;
}

nav ul li a {
  color: #000;
}

nav ul li:last-child {
  padding-left: 0;
}

nav ul li:last-child a {
  background-color: #fff;
  border: 1px solid #007bff;
  border-radius: 5px;
  padding: 10px 6px;
}

nav ul li:last-child a:hover {
  background-color: #007bff;
  color: #fff;
}

/* ----- banner image ----- */

/* number 8) 
I kept the new picture with the theme of the site*/
.bannerimage {
  height: 300px;
  width: 100%;
  background-image: url(./image/stretching.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ----- main section styles ----- */

.priceLine {
  margin: 50px auto 30px auto;
  width: 60%;
  font-weight: 100;
}

.priceLine h1 {
  display: flex;
  justify-content: center;
  font-size: 3.5em;
  margin-top: 0;
  margin-bottom: .5em;
  font-weight: 300;
}

.priceLine p {
  font-size: 1.25em;
  line-height: 1.5em;
}

.pricingTable {
  display: flex;
  justify-content: space-around;
}

.pricingTable section {
  border: 1px solid #00000020;
  border-radius: 5px;
  width: 30%;
  text-align: center;
}

.pricingTable section h2 {
  background-color: #00000008;
  margin: 0;
  padding: .75em 1.25em;
  border-bottom: 1px solid #00000020;
  font-size: 1.5em;
  font-weight: 300;
}

.pricingTable section h3 {
  margin-bottom: .75em;
  font-size: 2.5em;
  margin-top: 0;
  font-weight: 300;
}

h3 span {
  font-size: 80%;
  color: #6c757d;
}

.pricingTable img {
  padding: 10px 30px;
}

.pricingTable ul {
  margin-top: 1em;
  margin-bottom: 1.5em;
  line-height: 1.5;
}
/* ------ button styles ------ */
.pricingTable button {
  background-color: #fff;
  border-color: #007bff;
  width: 80%;
  font-size: 1.25em;
  padding: .5em 2.5em;
  margin-bottom: 1.25em;
  transition: .4s;
  border-radius: 5px;
}

.pricingTable section:nth-child(1) button:hover {
  background-color: #007bff;
  color: #fff;
}

.pricingTable section:nth-child(2) button:hover,
.pricingTable section:nth-child(3) button:hover {
  background-color: #0257b1;
  color: #fff;
}

.pricingTable button:nth-child(1):hover {
  background-color: lightcoral;
}

/* ----- footer styling ------ */

footer {
  padding-top: 3em;
  margin-top: 3em;
  margin-bottom: 3em;
  border-top: 1px solid #dee2e6;
  display: flex;
  justify-content: space-around;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-weight: 300;
}

footer div {
  text-align: left;
  padding: 0 15px;
  /* just to use it the font face I didn't feel the font was in the same style as the rest of the page so only used it in the footer */
  font-family: regular;
}

footer div h4 {
  font-weight: 400;
}

footer li {
  color: #6c757d;
  line-height: 1.5em;
}

footer li:hover {
 text-decoration: underline; 
 cursor: pointer;
}

/* media queries */

/* increasing all fonts by 200%
I think 1.5em is already 150% larger than the base 10px so if you changed it to 120% I blieve that would be like changing 1.5em to 1.2em*/
@media screen and (max-width: 600px) {
  body {
    font-size: 200%;
  }
}